{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Students</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Students</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
               <a href="{% url 'student-add' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Session</th>
                              <th>DOB</th>
                              <!-- <th>Parent Names</th> -->
                              <th>Mobile Number</th>
                              <th>Address</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for student in student_list %}
                           <tr>
                              <td><a href="{% url 'student-details' student.student_id %}">{{ student.student_id }}</a>
                              </td>
                              <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                 <h2 class="table-avatar">
                                    <a href="{% url 'student-details' student.student_id %}" class="avatar avatar-sm mr-2">
                                       {% if student.image %}
                                       <img class="avatar-img rounded-circle" src="{{ student.image.url }}" alt="User Image">
                                       {% else %}
                                       <img class="avatar-img rounded-circle" src="{% static 'assets/img/default_user.png' %}" alt="Default Image">
                                       {% endif %}
                                    </a>
                                    <a href="{% url 'student-details' student.student_id %}" style="display: inline-block; max-width: 150px; text-overflow: ellipsis; white-space: nowrap;">
                                       {{ student.f_name }} {{ student.l_name }}
                                    </a>
                                 </h2>
                              </td>
                              
                              <td>{{ student.student_session }}</td>
                              <td>{{ student.dob|date:"d M Y" }}</td>
                              <!-- <td>{{ student.father_name }} / {{ student.mother_name }}</td> -->
                              <td>{{ student.phone }}</td>
                              <td>{{ student.present_address }}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'student-edit' student.student_id%}" class="btn btn-sm bg-success-light mr-2">
                                       <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{%url 'student-delete' student.student_id%}" class="btn btn-sm bg-danger-light">
                                       <i class="fas fa-trash"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           {% empty %}
                           <tr>
                              <td colspan="8" class="text-center">No students found</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{%static 'assets/js/popper.min.js' %}"></script>
<script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{%static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{%static 'assets/js/script.js' %}"></script>
</body>
<!-- Mirrored from preschool.dreamguystech.com/html-template/students.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:49 GMT -->

</html>


{% endblock %}